div{
  text-align: center;
  padding: 20px;
}
h1{
  font-size: 24px;
  color: #42c7e2;
}
p{
  color: #8bc746;
}
.section{
  max-width: 980px;
  margin: 30px auto;
}
img{
  max-width: 280px;
  padding: 20px;
  height: 300px;
  object-fit: contain;
  border-radius: 50%;
}
figure{
  text-align: center;
}
